* {
    box-sizing: border-box;
  }
  
h1 {
    color: rgb(198, 239, 245);
    font-size: 2.5em;
}

h2 {
    color: rgb(198, 239, 245);
    font-size: 2em;
}

p {
    color: rgb(198, 239, 245);
    font-size: 1.5em;
}

label {
    color: rgb(198, 239, 245);
    font-size: 1.5em;
}
body, html {
    height: 100%;
    background-color: rgb(4, 4, 131);
    color: aliceblue;
}

.bg {
    background-image: url("/src/images/Arrival_at_Hogwarts.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5em;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -200px;
}


a {
    color: aliceblue;
    text-decoration: none;
}

@media (any-hover: hover) {
    a:hover {
        color: aliceblue;
        font-size: 2em;
    }
}



@media (min-width: 1280px) {
    .grid-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    padding: 0;
    height: 50px;
    }


    .bg  { 
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        width: 100%; 
        
    }
     /* 1st child */
     .header { 
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: 100%; 
        padding-left: 210px;
        height: 10px;

    }

     /* 2nd child */
     .nav-bar { 
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: auto; 
        height: auto;
        margin-left: 200px;
        margin-top: -280px;
    }

    /* 3rd child */
    .today-list { 
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 100%; 
        padding-left: 500px;  
        height: 50px;
        margin-top: -150px;
        
    }

    .done-list {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 100px;
        margin-top: -150px;

    }

    /* 4th child */
    .sorting-hat { 
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 100%; 
        padding-left: 400px;
        height: 50px;
        margin-top: -540px;
    }

    .create-your-own  { 
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: 100%; 
        height: auto;
        margin-top: -400px;
        margin-left: 100px;
        color:rgb(4, 4, 131);
    }

    .christmas  { 
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        width: 100%;
        height: auto; 
        margin-top: -400px;
        
    }

    /* .song {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: auto;
        height: auto; 
    } */

}