* {
    box-sizing: border-box;
  }
  
h1 {
    color: goldenrod;
    font-size: 2.5em;
}

h2 {
    color: goldenrod;
    font-size: 2em;
}


p {
    color: goldenrod;
    font-size: 1.5em;
}

label {
    color: goldenrod;
    font-size: 1.5em;
}
body, html {
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: goldenrod;
}

/* form styling */
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], textarea, input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* .bg {
    background-image: url("/src/images/Arrival_at_Hogwarts.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 1.5em;
    padding-left: 150px;
    padding-right: 150px;
}


a {
    color: goldenrod;
    text-decoration: none;
}

table {
    font-size: 1.5em;
}

@media (any-hover: hover) {
    a:hover {
        color: green;
        
    }
}



@media (min-width: 1280px) {
    .grid-container  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);
    padding: 0;
    /* height: 50px; */
    }


    .bg  { 
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        width: 100%; 
        
    }

     /* 1st child */ 
     .header { 
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        width: 100%; 
        padding-left: 210px;
        height: 10px;

    }

     /* 2nd child */
     .login { 
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        width: auto; 
        height: auto;
        margin-top: 100px;
        padding: 20px;
    }

   
    .menu-list {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
        /* margin-left: 50px;
        margin-top: 50px; */
        padding-left: 50px;
        padding-right: 50px;
        border: solid 2px black;
        width: 375px;
    
    }

    .main-display {
        grid-column: 2 / 4;
        grid-row: 4 / 6;
        height: auto;
        padding: 20px;
        padding-top: 80px;
        margin-left: -125px;
        border: solid 2px black;

    }

    /* .extra {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    } */

}

    /* 3rd child */
    /* .today-list { 
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 100%; 
        padding-left: 450px;  
        height: 50px;
        margin-top: -150px;
        
    } */

    /* .done-list {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 100px;
        margin-top: -150px;

    } */

    /* 4th child */
    /* .sorting-hat { 
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 100%; 
        padding-left: 400px;
        height: 50px;
        margin-top: -540px;
    }

    .create-your-own  { 
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: 100%; 
        height: auto;
        margin-top: -400px;
        margin-left: 100px;
        color:rgb(4, 4, 131);
    }

    .christmas  { 
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        width: 100%;
        height: auto; 
        margin-top: -400px;
        
    }

    .song {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: auto;
        height: auto; 
    } */

